.spacer {
  min-height: 100vh;
  background-color: white;
}

.section {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.galleryholder {
  position: absolute;
  inset: 0;
  padding: 0vw 2vw;
  display: flex;
  gap: 2vw;
  background-color: slategrey;
}

.imageholder {
  position: relative;
  width: 20%;
  height: 100%;
  top: 0;
}

/* .imageholder:nth-of-type(1) {
  top: -40%;
}
.imageholder:nth-of-type(2) {
  top: -80%;
}
.imageholder:nth-of-type(3) {
  top: -56%;
}
.imageholder:nth-of-type(4) {
  top: -50%;
}
.imageholder:nth-of-type(5) {
  top: -64%;
} */

.galleryimage {
  position: relative;
  object-fit: cover;
  overflow: visible;
}
