.spacer {
  min-height: 100vh;
  background-color: white;
}

.section {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.galleryholder {
  position: absolute;
  inset: 0;
  padding: 0vw 2vw;
  display: flex;
  gap: 2vw;
  background-color: slategrey;
}

.imageholder {
  position: relative;
  width: 20%;
  height: 100%;
}

.galleryimage {
  position: relative;
  object-fit: cover;
  overflow: visible;
}

.image1 {
  transform: translate3d(0px, 75%, 0px);
}
.image2 {
  transform: translate3d(0px, -175%, 0px);
}
.image3 {
  transform: translate3d(0px, -30%, 0px);
}
.image4 {
  transform: translate3d(0px, -130%, 0px);
}
.image5 {
  transform: translate3d(0px, -146%, 0px);
}
